/* colors */
/* greens */
$color-black: #000;
$color-gray1: #111;
$color-gray3: #333;
$color-gray5: #555;
$color-gray7: #777;
$color-gray9: #999;
/* default text color */
$color-text: $color-gray1;

$color-brand1: #7A90F1;
$color-brand2: #5FAF58;
$color-brand3: #F0827C;

/* reverse text color */
$color-text-reverse: #fff;

/* spacing */
$spacing-0: 0;
$spacing-4: 1rem;
$spacing-6: 1.5rem;
$spacing-8: 2rem;
$spacing-12: 3rem;
$spacing-32: 8rem;