---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main>
		<section>
			<h1>Hello, Sudoku!</h1>
			<h2>Pause the computer's sleep mode while the program is running...</h2>
			<p>
				(Do this if you are stepping away from the computer to keep it from
				timing out)
			</p>
			<p><a href=""></a></p>
			<button data-status="off">Turn Wake Lock ON</button>

			<section id="status">
				<h2>Wake Lock Status</h2>
				<p></p>
			</section>
			<p>Wake lock will automatically release if the tab becomes inactive.</p>
			<p>
				To re-activate the wake lock automatically when the tab becomes active
				again, check this box: <input type="checkbox" id="reaquire" />
			</p>
		</section>
	</main>
</Layout>

<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	section {
		width: 500px;
	}
	h1 {
		font-family: sans-serif;
		font-size: 3rem;
	}
	p {
		font-size: 1.5rem;
	}

	button {
		font-size: 1.5rem;
		background-color: #333;
		color: #fff;
		cursor: pointer;
		border-radius: 5px;
		margin-bottom: 2rem;
		padding: 0.5rem 1rem;
	}

	#status {
		width: 500px;
		min-width: 500px;
		margin-top: 20px;
	}
	#status h2 {
		margin: 0 auto;
		background-color: #000;
		color: #fff;
		padding: 1rem;
		text-align: center;
	}
	#status p {
		text-align: center;
	}
	[data-status="off"] ~ #status {
		border: 2px solid red;
	}
	[data-status="on"] ~ #status {
		border: 2px solid green;
	}
	#reacquire {
	}
</style>
<!-- <script src="../scripts/sleep.js"></script> -->
<script src="../scripts/sudoku-grid-generator.js"></script>
