---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import logo from "../assets/pixel-hill-publishing-logo-reverse.svg";
---

<Layout
	title="Pixel Hill Publishing"
	description="Independent publisher specializing in low and medium content books."
>
	<main>
		<section class="hero" id="intro">
			<div class="viewport-header">
				<Image class="logo" src={logo} alt="Pixel Hill Publishing logo" />
			</div>
		</section>
	</main>
</Layout>

<style lang="scss">
	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	main {
		margin: auto;
		padding: 0;
		line-height: 1.6;

		.hero {
			background-image: url(../assets/bg.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-position: center;
			height: 100vh;
			width: 100vw;
			max-height: 696px;
			position: relative;
			display: flex;

			.bg-mobile {
				position: absolute;
				top: 0;

				@media (min-width: 1024px) {
					display: none;
				}
			}

			.viewport-header {
				padding: 0.125rem;
				display: flex;
				align-items: center;
				justify-content: center;
				opacity: var(--headerOpacity);
				transform: scale(var(--headerScale));
				width: 100%;

				@media (min-width: 1024px) {
					animation: 10s ease-in 0s 1 fadeIn;
					margin: 0 1rem;

					@media (min-height: 600px) and (max-height: 820px) {
						margin-top: 0%;
					}
				}

				@media (min-width: 1280px) {
					@media (min-height: 600px) and (max-height: 820px) {
						top: 10%;
					}
				}

				@media (min-width: 1366px) {
					margin: 7% 1rem;
				}

				@media (min-width: 1700px) {
					margin: 12% 1rem;
					width: auto;
				}

				@media (min-width: 2200px) {
					margin: 7% 1rem;
				}

				.logo {
					width: 50%;
					max-width: 1116px;
					height: auto;
				}
			}
		}
	}
</style>
<script>
	const video = document.getElementById("video");

	document.addEventListener("DOMContentLoaded", function addAutoplay() {
		if (window.innerWidth < 1024) {
			video?.removeAttribute("autoplay");
		}
	});
</script>

<script type="text/javascript">
	function configureAhoy() {
		ahoy.configure({
			visitsUrl: "https://usebasin.com/ahoy/visits",
			eventsUrl: "https://usebasin.com/ahoy/events",
			page: "023020682506" /* Use your form id here */,
		});
		ahoy.trackView();
		ahoy.trackSubmits();
	}
</script>
<script
	src="https://cdn.jsdelivr.net/npm/ahoy.js@0.3.9/dist/ahoy.min.js"
	async
	defer
	onload="configureAhoy()"></script>
